@import "../../assets/fonts/fonts";

:root {
    --clr-primary-dark: #222B45;
    --clr-gray-light: #FEFEFE;
    --clr-secondary-dark: #465069;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: "Nunito";
}

.container {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: [sidebar-start] 30rem [sidebar-end content-start] 1fr [content-end];

    &.toggle {

        & .main {
            grid-column: sidebar-start / content-end;        
        }

        & .sidebar {
            grid-column: unset;  
            display: none;
        }
    }
}

.dark-theme {
    background-color: var(--clr-primary-dark);
    color: var(--clr-gray-light);
}

.main {
    grid-column: content-start / content-end;
    background-color: blueviolet;
    // min-height: calc(100vh - 4.15rem);
}
