.top-panel {
    grid-column: sidebar-start / content-end;  
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: .15rem solid #000;
}

.menu-burger {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    & input {
        display: none;
    }
    
    &__line,
    &__line::after,
    &__line::before {
        background-color: var(--clr-secondary-dark);
        width: 100%;
        height: .3rem;
        border-radius: 20rem;
        transition: all .3s;
    }
    
    &__line {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: .7rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: -.7rem;
        }
    }

    &:hover &__line::after {
        top: 0;
        transform: rotate(135deg);
    }

    &:hover &__line::before {
        top: 0;
        transform: rotate(-135deg);
    }
}