.sidebar {
    grid-column: sidebar-start / sidebar-end;
    background-color: var(--clr-primary-dark);
    // position: relative;
    
    & .menu {
        // min-height: 20rem;
        min-height: calc(100vh - 4.15rem);
        overflow: overlay;
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
    
        &::-webkit-scrollbar {
            width: 1rem;
        }
    
        &::-webkit-scrollbar-track {
            background-color: var(--clr-secondary-dark);
            border-radius: 10rem;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: rgb(136, 133, 133);
            border-radius: 10rem;
        }

        &__list {
            
        }
    }
}