@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-ExtraBold.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-BlackItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
